In [31]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from unidecode import unidecode

In [32]:
df1=pd.read_csv('/Users/arianzarifian/Downloads/Ml-Project-2/dataset.csv',index_col=0)
df2=pd.read_csv('/Users/arianzarifian/Downloads/Ml-Project-2/dataset1.csv',index_col=0)
df3=pd.read_csv('/Users/arianzarifian/Downloads/Ml-Project-2/dataset2.csv',index_col=0)

In [33]:
df=pd.concat([df1,df2,df3],ignore_index=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31348 entries, 0 to 31347
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   district   31348 non-null  object
 1   area       31348 non-null  object
 2   year       31348 non-null  object
 3   rooms      31348 non-null  object
 4   value      31348 non-null  object
 5   floor      31348 non-null  object
 6   elevator   31348 non-null  object
 7   parking    31348 non-null  object
 8   warehouse  31348 non-null  bool
dtypes: bool(1), object(8)
memory usage: 1.9+ MB

In [35]:
df.value=df.value.apply(lambda x:x.replace('Ù¬',''))

In [36]:
for i in ['area','year','rooms','floor','value']:
    df[i]=df[i].apply(lambda x:unidecode(x))

In [37]:
indexes=df[df['value']=='nmysh'].index

df=df.drop(indexes)

In [38]:
df[df['year']=='qbl z 1370']='1370'
df[df['rooms']=='bdwn tq']='0'

In [39]:
def make_integer(column_name):
    
        df[column_name]=df[column_name].astype(str).astype(int)
    
for i in ['area','year','rooms','value']:
    make_integer(i)

In [40]:
df.floor=df.floor.apply(lambda x:x.replace('byshtr',''))
df.floor=df.floor.apply(lambda x:x.replace('z  z','z'))

In [41]:
df=df.loc[df.floor.astype(str).str.match(r'\d')]

In [42]:
df.floor.unique()

array(['4 z 5', '3 z 6', '10', '2', '6', '1 z 4', '9', '2 z 5', '5', '1',
       '1 z 5', '2 z 6', '3', '6 z 7', '3 z 10', '13 z 17', '4', '5 z 5',
       '2 z 4', '18 z 18', '1 z 3', '6 z 8', '3 z 5', '3 z 4', '8 z 21',
       '7 z 9', '21', '10 z 18', '5 z 6', '4 z 2', '4 z 6', '11 z 21',
       '15 z 25', '3 z 9', '15 z 21', '0', '7', '5 z 7', '4 z 4',
       '7 z 12', '3 z 7', '16', '8', '22', '12', '9 z 11', '4 z 7', '13',
       '2 z 3', '1370', '23', '4 z 10', '5 z 13', '11', '18', '20',
       '12 z 21', '4 z 8', '15', '1 z 12', '12 z 14', '17 z 6', '4 z 9',
       '1 z 6', '2 z 25', '5 z 12', '9 z 15', '6 z 11', '6 z 6', '1 z 8',
       '13 z 15', '2 z 7', '3 z 20', '3 z 3', '8 z 30', '14', '8 z 11',
       '4 z 18', '14 z 17', '5 z 4', '6 z 5', '10 z 20', '2 z 15',
       '4 z 11', '10 z 11', '3 z 8', '6 z 21', '4 z 24', '1 z 10', '17',
       '11 z 15', '9 z 10', '7 z 7', '26 z 29', '29 z 29', '12 z 30',
       '8 z 16', '28', '11 z 12', '22 z 30', '25 z 29', '30', '24',
       '4 z 13', '2 z 2', '8 z 9', '3 z 22', '29', '20 z 21', '12 z 16',
       '24 z 30', '2 z 10', '19', '5 z 10', '5 z 11', '3 z 2', '11 z 11',
       '7 z 10', '7 z 8', '21 z 21', '12 z 12', '10 z 10', '16 z 16',
       '8 z 15', '5 z 15', '11 z 22', '10 z 15', '27', '12 z 15',
       '6 z 25', '1 z 14', '10 z 12', '7 z 11', '4 z 21', '15 z 17',
       '15 z 15', '8 z 18', '5 z 30', '10 z 16', '7 z 15', '5 z 21',
       '11 z 16', '8 z 12', '7 z 21', '8 z 10', '8 z 8', '2 z 8',
       '13 z 30', '3 z 15', '6 z 13', '10 z 13', '3 z 11', '14 z 15',
       '13 z 18', '2 z 11', '9 z 14', '1 z 7', '23 z 30', '4 z 19',
       '9 z 12', '25', '25 z 30', '1 z 2', '10 z 24', '5 z 8', '27 z 29',
       '16 z 25', '10 z 25', '11 z 14', '24 z 25', '26', '1 z 15',
       '2 z 14', '9 z 9', '11 z 13', '6 z 10', '7 z 17', '14 z 14',
       '6 z 9', '23 z 26', '4 z 17', '7 z 18', '14 z 21', '3 z 12',
       '4 z 16', '13 z 16', '5 z 14', '21 z 29', '16 z 29', '30 z 30',
       '11 z 18', '12 z 22', '3 z 19', '2 z 12', '7 z 22', '13 z 21',
       '19 z 26', '28 z 29', '9 z 17', '9 z 13', '8 z 22', '12 z 13',
       '19 z 21', '11 z 23', '17 z 21', '1 z 9', '6 z 2', '6 z 12',
       '18 z 21', '16 z 21', '7 z 16', '9 z 18', '4 z 12', '10 z 6',
       '5 z 9', '1 z 18', '21 z 25', '23 z 25', '14 z 18', '18 z 30',
       '15 z 19', '10 z 17', '1 z 11', '20 z 25', '15 z 16', '8 z 17',
       '17 z 19', '1 z 19', '25 z 25', '3 z 16', '8 z 5', '13 z 13',
       '16 z 20', '11 z 19', '7 z 5', '10 z 14', '2 z 9', '6 z 29',
       '9 z 25', '11 z 30', '1 z 25', '3 z 21', '10 z 9', '10 z 21',
       '4 z 14', '14 z 16', '6 z 15', '11 z 29', '18 z 20', '29 z 30',
       '9 z 16', '4 z 27', '11 z 27', '5 z 25', '21 z 22', '1 z 17',
       '20 z 20', '6 z 20', '22 z 22', '5 z 20', '20 z 22', '26 z 22',
       '16 z 22', '7 z 23', '23 z 23', '12 z 23', '4 z 3', '8 z 13',
       '12 z 17', '1 z 30', '18 z 28', '16 z 17', '21 z 23', '2 z 19',
       '7 z 4', '17 z 17', '12 z 20', '12 z 18', '3 z 18', '14 z 22',
       '16 z 30', '7 z 19', '3 z 13', '8 z 20', '1 z 21', '2 z 21',
       '16 z 18', '16 z 19', '13 z 23', '7 z 30', '3 z 25', '14 z 25',
       '28 z 30', '13 z 20', '6 z 14', '4 z 15', '14 z 19', '5 z 2',
       '21 z 24', '15 z 30', '6 z 30', '13 z 14', '1 z 22', '5 z 16',
       '14 z 28', '10 z 8', '14 z 20', '5 z 17', '6 z 18', '2 z 30',
       '12 z 19', '9 z 20', '6 z 23', '15 z 18', '13 z 25', '7 z 13',
       '4 z 30', '1 z 16', '9 z 19', '19 z 20', '18 z 25', '5 z 19',
       '14 z 27', '12 z 28', '17 z 18', '2 z 29', '22 z 25', '7 z 25',
       '8 z 19', '11 z 17'], dtype=object)

In [43]:
df.floor=df.floor.astype(str)
df[['floor1','floor2','floor3']]=df[df.floor.str.contains('z')==True].floor.str.split(' ',expand=True)

In [44]:
df.floor1.unique()

array(['4', '3', nan, '1', '2', '6', '13', '5', '18', '8', '7', '10',
       '11', '15', '9', '12', '17', '14', '26', '29', '22', '25', '20',
       '24', '21', '16', '23', '27', '30', '19', '28'], dtype=object)

In [45]:
df.floor3.unique()

array(['5', '6', nan, '4', '7', '10', '17', '18', '3', '8', '21', '9',
       '2', '25', '12', '11', '13', '14', '15', '20', '30', '24', '29',
       '16', '22', '19', '26', '23', '27', '28'], dtype=object)

In [46]:
df.floor1=df.floor1.astype(str)
df.floor3=df.floor3.astype(str)

In [47]:
df.floor2.unique()

array(['z', nan], dtype=object)

In [48]:
df=df.reset_index(drop=True)

In [49]:


for i in df[df.floor.str.contains('z')==True].index:
    
        
        if df.iloc[i]['floor1']<= df.iloc[i]['floor3']:

            df.loc[i,'floor']=df.iloc[i]['floor1']
        else:
            df.loc[i,'floor']=df.iloc[i]['floor3']

In [50]:
df.floor.unique()

array(['4', '3', '10', '2', '6', '1', '9', '5', '13', '18', '21', '7',
       '11', '15', '0', '12', '16', '8', '22', '1370', '23', '20', '17',
       '30', '14', '24', '26', '29', '28', '25', '19', '27'], dtype=object)

In [51]:
df.drop(['floor1','floor2','floor3'],axis=1,inplace=True)

In [52]:
make_integer('floor')

In [53]:
df.elevator=df.elevator.astype(bool)
df.parking=df.parking.astype(bool)
df.warehouse=df.warehouse.astype(bool)

In [54]:
df

,district,area,year,rooms,value,floor,elevator,parking,warehouse
0,ÙÛØ§ÙØ±Ø§Ù,70,1401,1,11500000000,4,True,True,True
1,ÙÛØ§ÙØ±Ø§Ù,200,1401,3,34000000000,3,True,True,True
2,Ú©ÙÙÚ©,138,1398,3,8419000000,10,True,True,True
3,Ø¬ÛØ­ÙÙ,80,1395,2,3300000000,2,True,True,True
4,Ø¸ÙØ±,120,1401,2,12240000000,6,True,True,True
...,...,...,...,...,...,...,...,...,...
30290,Ù Ø³Ø¹ÙØ¯ÛÙ,68,1400,2,2350000000,4,True,True,True
30291,ÙØ§Ø±Ù Ú©,135,1382,2,5390000000,1,True,True,True
30292,ØªÙØ±Ø§ÙÙ¾Ø§Ø±Ø³ Ø´Ø±ÙÛ,54,1398,1,3200000000,2,True,True,True
30293,ÙÛØ·Ø±ÛÙ,105,1401,2,12600000000,3,True,True,True
30294,Ø³ÙØ±ÙØ±Ø¯Û,120,1401,3,9000000000,1,True,True,True

In [56]:
df.to_csv('dataset_divar_cleaned_V1.csv')